html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 54px;
	padding: 2rem;
	background-color: rgb(41, 42, 43);
}
header a {
	display: flex;
	align-items: center;
}

main {
	height: calc(100% - calc(54px + 50px));
	background-color: rgb(33, 33, 33);
	padding: 8rem 2rem;
	line-height: 1.4;
	color: rgb(155, 154, 154);
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 2rem;
	background-color: rgb(41, 42, 43);
}
footer a {
	display: flex;
	align-items: center;
}

a {
	color: rgb(155, 154, 154);
}
a:hover,
a:focus,
a:active {
	color: rgb(255, 255, 255);
}

.text-center {
	text-align: center;
}
