html {
	scroll-behavior: smooth;
	height: 100%;
}

body {
	background-color: white;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 54px;
	padding: 2rem;
	border-bottom: 1px solid black;
}
header a {
	display: flex;
	align-items: center;
}

main {
	padding: 8rem 2rem;
	line-height: 1.4;
	color: black;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 2rem;
	border-top: 1px solid black;
}
footer a {
	display: flex;
	align-items: center;
}

a {
	color: black;
}

.text-center {
	text-align: center;
}
